<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>YourJobQuest.com</h1>
            </div>
            <div id="logindisplay">
               @if (Convert.ToInt16(YourJobQuest.Models.Globalvariables.UserId) > 0)
            {
                <ul class="nav pull-right">
                        <ul><p class="navbar-text"> @YourJobQuest.Models.Globalvariables.UserName&nbsp;&nbsp;(@YourJobQuest.Models.Globalvariables.email)&nbsp;@Html.ActionLink("Log Out", "LogOff", "Account")&nbsp;&nbsp;&nbsp;</p></ul>
				      
		        </ul>
            }
            else
            { 
               <ul><span class="label label-inverse navbar-text">@Html.ActionLink("Log On", "LogOn", "Account")</span></ul>
            } 
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
